//
//= require twitter/bootstrap
//

@import "compass/css3";
@import url("http://fonts.googleapis.com/css?family=PT+Sans");


html, body {
    height: 100%;
}
body {
    background: url('../assets/wood_pattern.png');
}
a {
    text-decoration: underline;
    color: #5A5A5A;
}
a:hover {
    text-decoration: none;
    color: #686868;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif;
}
// Wrap
#wrap {
    height: auto !important;
    margin: 0 auto -60px;
    min-height: 100%;
    -webkit-box-shadow: inset 0 50px 50px -50px #3F3F3F;
       -moz-box-shadow: inset 0 50px 50px -50px #3F3F3F;
            box-shadow: inset 0 50px 50px -50px #3F3F3F;
            
    .decoration {
        height: 5px;
    }
}

// Header
#header {
    text-align: center;
    margin-bottom: 30px;
    
    h1 {
        color: #404040;
        font-size: 3em;
        margin-bottom: 0px;
    }
    h2 {
        margin-top: 0px;
        line-height: 1em;
        font-size: 1em;
        color: #6D6D6B;
    }
}

.region {
    @include border-radius(5px);    
    @include box-shadow(rgba(0,0,0,0.1) 8px 8px 8px);
}

// Footer
#footer, .decoration {
    background: url('../assets/dark_brick_wall.png');
}
#push, #footer {
    height: 60px;
}
#footer {
   -webkit-box-shadow: inset 0 20px 20px -20px #707070;
      -moz-box-shadow: inset 0 20px 20px -20px #707070;
           box-shadow: inset 0 20px 20px -20px #707070;
    
    font-family: 'PT Sans', sans-serif;
    color: #ACACAC;
    
    .container {
        text-align: right;
        line-height: 60px
    }
}