//= require records
//= require account
//= require statistics
// 

@import "compass/css3";

#header {
    margin-top: 20px;
}

#navigation {
    text-align: center;
    margin-top: 20px;    
}

.central_form {
    margin-bottom: 20px;
    padding: 2px 20px 2px 20px;
    background: #E6E6E6;
    
    form {
        .success, .errors {
            display: none;    

            h4 {
                margin-bottom: 5px;
            }
        }
        .success {
            p {
                margin-bottom: 0;
            }
        }
        .errors {
            ul {
                margin-bottom: 0;
            }
        }  
        input[type="text"] { width: 285px; }
        .input-prepend input[type="text"] { width: 258px; }
        
        .flow {
            margin-bottom: 10px;
            margin-left: 5px;
            
            label {
                padding-top: 0px;
            }
        }
    }
}

#logout {
    position: absolute;
    right: 20px;
    top: 25px;
    
    cursor: pointer;
    background: #000000;
    color: #E5E5E5;
    font-size: 0.8em;
    padding: 4px 8px;
    
    @include border-radius(5px);
}
    #logout:hover {
        background: #434343;
    }