@import url("http://fonts.googleapis.com/css?family=PT+Sans");

html, body {
    height: 100%;
}
body {
    background: url('../assets/wood_pattern.png');
}
a {
    text-decoration: underline;
    color: #5A5A5A;
}
a:hover {
    text-decoration: none;
    color: #686868;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif;
}
#footer, .decoration {
    background: url('../assets/dark_brick_wall.png');
}
#wrap {
    height: auto !important;
    margin: 0 auto -60px;
    min-height: 100%;
    -webkit-box-shadow: inset 0 50px 50px -50px #3F3F3F;
       -moz-box-shadow: inset 0 50px 50px -50px #3F3F3F;
            box-shadow: inset 0 50px 50px -50px #3F3F3F;
            
    .decoration {
        height: 5px;
    }
    
    .container {
        padding-top: 40px;    
    }
}
// Header
#header {
    text-align: center;
    margin-bottom: 30px;
    
    h1 {
        color: #404040;
        font-size: 3em;
        margin-bottom: 0px;
    }
    h2 {
        margin-top: 0px;
        line-height: 1em;
        font-size: 1em;
        color: #6D6D6B;
    }
}
// Footer
#push, #footer {
    height: 60px;
}
#footer {
   -webkit-box-shadow: inset 0 20px 20px -20px #707070;
      -moz-box-shadow: inset 0 20px 20px -20px #707070;
           box-shadow: inset 0 20px 20px -20px #707070;
    
    font-family: 'PT Sans', sans-serif;
    color: #ACACAC;
    
    .container {
        text-align: right;
        line-height: 60px
    }
}
// Alerts
.alerts {
    margin: 0 auto;
    width: 415px;
    
    .alert {
        padding-left: 30px;
    }
}

// Border
.new_user, #links, .alerts {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,0.1);
       -moz-box-shadow: 8px 8px 8px rgba(0,0,0,0.1);
            box-shadow: 8px 8px 8px rgba(0,0,0,0.1);
}

.new_user, #links {
    background-color: #F9F9F9;
    padding: 0 30px;
}

// Devise errors
#error_explanation {
    h2 {
        font-size: 1.2em;
        line-height: 1.4em;
        margin-bottom: 0.5em;
    }
}

form.new_user {
    max-width: 355px;
    margin: 0 auto 20px;
    padding-top: 19px;
    padding-bottom: 29px;
    
    h2 {
        margin-top: 0px;
        font-size: 2em;
    }
    
    .checkbox {
        margin-bottom: 10px;
    }
  
    input[type="email"], input[type="password"], input[type="text"] {
        font-size: 16px;
        height: 36px;
        margin-bottom: 15px;
        padding: 7px 9px;
    }
}

// Devise links
#links {
    width: 300px;
    margin: 0 auto 20px; 
    padding-top: 10px;
    padding-bottom: 10px;
}