body {
    padding-top: 40px;
    padding-bottom: 40px;
    background: url('../assets/retina_wood.png');
}

// Border
.new_user, #links {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
            
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 0 29px;
}

// Devise errors
#error_explanation {
    h2 {
        font-size: 1.2em;
        line-height: 1.4em;
        margin-bottom: 0.5em;
    }
}

form.new_user {
    max-width: 355px;
    margin: 0 auto 20px;
    padding-top: 19px;
    padding-bottom: 29px;
    
    h2 {
        margin-top: 0px;
        font-size: 2em;
    }
    
    .checkbox {
        margin-bottom: 10px;
    }
  
    input[type="email"], input[type="password"], input[type="text"] {
        font-size: 16px;
        height: 36px;
        margin-bottom: 15px;
        padding: 7px 9px;
    }
}

// Devise links
#links {
    width: 300px;
    margin: 0 auto 20px; 
    padding-top: 10px;
    padding-bottom: 10px;
}