@import "compass/css3";

#records-region {
    background: #FFFFFF;
    
    @include border-radius(5px);    
    @include box-shadow(rgba(0,0,0,0.1) 8px 8px 8px);
}

#addrecord-region {
    overflow: hidden;
    
    #add_button {
        float: right;
        margin-bottom: 15px;
    }
    
    #add_success, #add_form {
        display: none;
        width: 300px;
        margin: 0 auto;    
    }
    
    #add_success {   
        // display: block; 
            
        span {
            font-weight: bold;
        }
        p {
            margin: 0px;
        }
    }
    
    #add_form {
        margin-bottom: 20px;
        padding: 2px 20px 2px 20px;
        background: #E6E6E6;
        
        form {
            .success, .errors {
                display: none;    

                h4 {
                    margin-bottom: 5px;
                }
            }
            .success {
                p {
                    margin-bottom: 0;
                }
            }
            .errors {
                ul {
                    margin-bottom: 0;
                }
            }            
            input[type="text"] {
                width: 285px;
            }
        }
    }
}