@import "compass/css3";

#records-region {
    table {
        margin-bottom: 0px;
        
        tbody {
            tr.income {
                background-color: #F6FFF4;
            }
            tr.expense {
                background-color: #FFEAEC;
            }
            tr {
                td.amount {
                    width: 100px;
                }
                td.date {
                    width: 150px;
                }
                td.delete {
                    width: 80px;
                    text-align: center;

                    a {
                        text-decoration: none;
                        padding: 2px 5px;
                    }
                    a:hover {
                        background: #C20019;
                        color: #FFFFFF;

                        i {
                            color: #FFFFFF;
                            background-image: url(/assets/twitter/bootstrap/glyphicons-halflings-white.png);
                        }
                    }
                }
            }
        }
    }
}

#records-region, 
#pagination-region .pagination ul,
#flow-region,
#panel-region div {
    background: #FFFFFF;
    
    @include border-radius(5px);    
    @include box-shadow(rgba(0,0,0,0.1) 8px 8px 8px);
    
    li {
        span.label {
            margin-top: 2px;
            float: right;
        }
    }
}

#addrecord-region {
    overflow: hidden;
    
    #add_button {
        float: right;
        margin-bottom: 15px;
    }
    
    #add_success, #add_form {
        display: none;
        width: 300px;
        margin: 0 auto 20px auto;    
    }
    
    #add_success {   
        // display: block; 
            
        span {
            font-weight: bold;
        }
        p {
            margin: 0px;
        }
    }
}

#pagination-region {
    .pagination {
        margin-bottom: 20px;
        
        ul {    
            li {
                cursor: pointer;
            }
            li.disabled span {
                background: #E8E8E8;
            }
        }
    }
}

#flow-region {
    .well {
        padding: 8px 0; 
        margin-bottom: 0;
        border: 0px;
        
        i {
            margin-right: 5px;
        }
    }
}

#panel-region {
    overflow: hidden;
    margin: 10px 0 10px;
    font-size: 12px;
    
    div {        
        float: right;
        padding: 2px 10px;
        line-height: 20px;
                
        i {
            margin: 0px;
            padding: 0px;
        }
    }
}